<!--
 * @Author       : djkloop
 * @Date         : 2020-05-19 23:05:23
 * @LastEditors  : djkloop
 * @LastEditTime : 2020-05-19 23:12:46
 * @Description  : 头部注释
 * @FilePath     : /www.djkloop.cn/themes/indigo/layout/_partial/post/read-time.ejs
-->
<span>
    阅读时长 ≈
    <span style="color: red;"><%- min2read(post.content) %>分钟</span>
</span>
