<!--
 * @Author       : djkloop
 * @Date         : 2020-05-19 23:03:12
 * @LastEditors  : djkloop
 * @LastEditTime : 2020-05-19 23:04:42
 * @Description  : 头部注释
 * @FilePath     : /www.djkloop.cn/themes/indigo/layout/_partial/post/wordcount.ejs
-->
<span style="color: dodgerblue;">
    字数：<%- wordcount(post.content) %>
</span>
