<!--
 * @Author       : djkloop
 * @Date         : 2020-05-19 21:15:00
 * @LastEditors  : djkloop
 * @LastEditTime : 2020-05-24 12:20:50
 * @Description  : 头部注释
 * @FilePath     : /www.djkloop.cn/themes/indigo/layout/_partial/after-footer.ejs
-->
<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"
    ><span class="icon icon-lg icon-chevron-up"></span
></a>
<% if(theme.share){ %> <%- partial('post/share', {scope: 'global'}) %> <% } %>
